---
interface Props {
  title: string;
  subtitle?: string;
  description: string;
  ctaText?: string;
  ctaLink?: string;
  cta2Text?: string;
  cta2Link?: string;
}

const { title, subtitle, description, ctaText, ctaLink, cta2Text, cta2Link } =
  Astro.props;
---

<h2
  class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-extrabold text-gray-900 dark:text-white mb-4 leading-tight"
  set:html={title}
/>
<h3 class="text-2xl text-gray-700 dark:text-gray-300 mb-6" set:html={subtitle} />
<p class="text-xl text-gray-700 dark:text-gray-300 mb-10" set:html={description} />
{
  (ctaText || cta2Text) && (
    <div class="flex gap-4 justify-center lg:justify-start">
      {ctaText && (
        <a
          href={ctaLink}
          class="inline-block border-b-2 border-secondary text-gray-900 dark:text-white font-bold text-lg sm:text-xl lg:text-2xl hover:text-secondary transition"
          set:html={ctaText}
        />
      )}
      {cta2Text && (
        <a
          href={cta2Link}
          class="inline-block border-b-2 border-secondary text-gray-900 dark:text-white font-bold text-lg sm:text-xl lg:text-2xl hover:text-secondary transition"
          set:html={cta2Text}
        />
      )}
    </div>
  )
}
