---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import FormattedDate from '@/components/FormattedDate.astro';
import MainLayout from '@/layouts/MainLayout.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.id },
    props: post,
  }));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { heroImage, pubDate, updatedDate, title } = post.data;
const { Content } = await render(post);

const lang: string = 'en';
---

<MainLayout lang={lang} title={title} description={title}>
  <main class="main-container py-24">
    <article>
      <div class="w-full">
        {
          heroImage && (
            <img
              width={1020}
              height={510}
              src={heroImage}
              alt=""
              class="block mx-auto rounded-xl shadow-[var(--box-shadow)]"
            />
          )
        }
      </div>
      <div class="text-[rgb(var(--gray-dark))]">
        <div class="mb-4 py-4 text-center leading-none">
          <div class="mb-2 text-[rgb(var(--gray))]">
            <FormattedDate date={pubDate} />
            {
              updatedDate && (
                <div class="italic">
                  Last updated on <FormattedDate date={updatedDate} />
                </div>
              )
            }
          </div>
          <h1 class="m-0 mb-2">{title}</h1>
          <hr />
        </div>
        <div class="prose prose-lg prose-slate dark:prose-invert max-w-none">
          <Content />
        </div>
      </div>
    </article>
  </main>
</MainLayout>
