---
import BlogPreviewSection from "@/components/home/BlogPreviewSection.astro";
import ContactSection from "@/components/home/ContactSection.astro";
import EducationSection from "@/components/home/EducationSection.astro";
import ExperienceSection from "@/components/home/ExperienceSection.astro";
import HeroSection from "@/components/home/HeroSection/HeroSection.astro";
import HomeSection from "@/components/home/HomeSection/HomeSection.astro";
import { HomeSectionContentAlignment } from "@/components/home/HomeSection/enum";
import ProjectsSection from "@/components/home/ProjectsSection.astro";
import SkillsSection from "@/components/home/SkillsSection.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<HeroSection
		name="Sergio Alexander Florez Galeano"
		description='Cofundador y CTO en <a href="https://dailybot.com" target="_blank" rel="noopener" class="text-white hover:text-gray-300 transition-colors underline">DailyBot (YC S21)</a> - Emprendedor, speaker, investigador, atleta, trader, gamer y geek al 100%'
		typewriterWords={[
			"Full Stack Developer",
			"Trader",
			"Emprendedor",
			"Maker",
			"Mentor & Speaker",
			"Geek",
			"Apasionado del deporte",
		]}
	/>

	<!-- About Section -->
	<HomeSection
		title="Hola, soy <span class='text-secondary'>Sergio</span>"
		description={`Passionate about developing of conversational interfaces. Currently CTO at DailyBot building an assistant for asynchronous team collaboration.<br /><br />

Computer science engineer, MSc in data science and passionate entrepreneur, with talent and more than 10y of experience building digital businesses. In the search of the ideation of disruptive business models as agents of change and success.<br /><br />

游눹游꿏游닄 | Speaker, researcher, athlete, gamer, and geek 100%.`}
		ctaText="Conoce m치s sobre m칤"
		ctaLink="/about"
		cta2Text="Ver mi CV"
		cta2Link="/cv"
		image="/images/profile.png"
		contentAlignment={HomeSectionContentAlignment.RIGHT}
	/>

	<!-- DailyBot Section -->
	<HomeSection
		title="DailyBot (YC S21)"
		subtitle="CTO & Cofundador"
		description="He liderado el desarrollo de una plataforma innovadora que conecta equipos globalmente, facilitando la colaboraci칩n y comunicaci칩n efectiva entre miembros. En 2021, fuimos seleccionados por Y Combinator, lo que nos permiti칩 acelerar nuestro crecimiento, mejorar nuestras capacidades tecnol칩gicas y reforzar nuestro enfoque en la satisfacci칩n del cliente. 游"
		ctaText="Conoce m치s sobre DailyBot"
		ctaLink="https://dailybot.com"
		image="/images/dailybotyc.png"
		contentAlignment={HomeSectionContentAlignment.LEFT}
	/>

	<!-- Tech Talks Section -->
	<HomeSection
		title="Tech Talks"
		subtitle="Cofundador & Speaker"
		description="Como cofundador y organizador de la comunidad Pereira Tech Talks, he impulsado la creaci칩n de espacios para compartir conocimiento y conectar a profesionales de tecnolog칤a. He tenido la oportunidad de ser speaker en m칰ltiples charlas t칠cnicas, donde disfruto compartir experiencias y aprender junto a la comunidad."
		ctaText="Conoce m치s sobre mis charlas"
		ctaLink="/about"
		image="/images/techtalks.png"
		contentAlignment={HomeSectionContentAlignment.RIGHT}
	/>

	<!-- Maker Section -->
	<HomeSection
		title="Maker"
		subtitle="Entusiasta de la tecnolog칤a, IA & Desarrollador de proyectos"
		description="Como entusiasta de la tecnolog칤a y la inteligencia artificial, he liderado y desarrollado m칰ltiples proyectos innovadores, explorando diversas tecnolog칤as para crear aplicaciones digitales y soluciones t칠cnicas de alto impacto. Mi pasi칩n por la innovaci칩n y el aprendizaje constante me impulsa a estar siempre a la vanguardia, investigando nuevas herramientas y tendencias para transformar ideas en realidades tangibles. Disfruto enfrentar desaf칤os complejos y aportar valor a trav칠s de la tecnolog칤a."
		ctaText="Ver mis proyectos"
		ctaLink="/projects"
		image="/images/ia.png"
		contentAlignment={HomeSectionContentAlignment.LEFT}
	/>

	<!-- Trading Section -->
	<HomeSection
		title="Trading"
		subtitle="Trader entusiasta & Aprendiz de trading algor칤tmico"
		description="Como trader entusiasta, he dedicado los 칰ltimos dos a침os a formarme en el mercado de divisas (forex) y a profundizar en el trading algor칤tmico, con el objetivo de optimizar y automatizar mis estrategias de inversi칩n. Me motiva el aprendizaje continuo y la investigaci칩n de los mercados financieros, siempre en busca de nuevas herramientas y enfoques que me permitan mejorar mi desempe침o y tomar decisiones m치s informadas."
		ctaText="Conoce m치s sobre m칤"
		ctaLink="/about"
		image="/images/trading.png"
		contentAlignment={HomeSectionContentAlignment.RIGHT}
	/>

	<!-- Foddie Section -->
	<HomeSection
		title="Foodie Enthusiast"
		subtitle="Creador de contenido & Foodie lover"
		description="M치s all치 de la tecnolog칤a, soy un apasionado creador de contenido y amante de la gastronom칤a. Disfruto explorar nuevos lugares para comer, compartir recomendaciones y experiencias culinarias, y conectar con personas a trav칠s de mis redes sociales. Me motiva inspirar a otros a descubrir sitios 칰nicos y vivir nuevas experiencias, combinando mi entusiasmo por la comunicaci칩n, la creatividad y el buen comer."
		ctaText="Conoce m치s sobre m칤"
		ctaLink="/about"
		image="/images/foddie.png"
		contentAlignment={HomeSectionContentAlignment.LEFT}
	/>

	<!-- Hobbies Section -->
	<HomeSection
		title="Hobbies"
		subtitle="Apasionado del deporte y la vida activa"
		description="Fuera del mundo profesional, soy un apasionado del deporte y el bienestar. Disfruto recorrer la ciudad en bicicleta y mantenerme activo a trav칠s del running, el baloncesto y el ajedrez. Adem치s, encuentro en los videojuegos una forma de entretenimiento y desaf칤o mental. El deporte es una parte fundamental de mi vida, ya que me inspira a superarme constantemente y a mantener un equilibrio saludable."
		ctaText="Conoce m치s sobre m칤"
		ctaLink="/about"
		image="/images/bicycle.png"
		contentAlignment={HomeSectionContentAlignment.RIGHT}
	/>

	<!-- Skills Section -->
	<SkillsSection />

	<!-- Experience Section -->
	<ExperienceSection />

	<!-- Projects Section -->
	<ProjectsSection />

	<!-- Education Section -->
	<EducationSection />

	<!-- Blog Preview Section -->
	<BlogPreviewSection />

	<!-- Contact Section -->
	<ContactSection />
</MainLayout>
